<div class="container">

        <div class="login"> 
        <h1>Sign In</h1>
    	<%= form_for :session, { :url => sessions_path }   do |f| %>  
        <div class="required-field-block">
        <%= f.text_field :email, :placeholder => "Email", :class => "form-control" %>
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
        <div class="required-field-block">
        <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div> 
 		<%= f.submit "Login", :class => "btn btn-primary" %>

    <% end %>
    </div> 
</div>