<h1>INDEX</h1>

        <div class="panel panel-default">
          <% @petinfos.each do |b| %>
            <div class="panel-heading">
                <h3 class="panel-title"><%= link_to pet_info_path b do %><strong><%= b.pet_name %></strong></h3>
                <% end %>
            </div>
          <% end %>
        </div>

