<h1>INDEX</h1>


  <ul>
  <% @petinfos.each do |b| %>
    <li>
      <%= link_to pet_info_path b do %>

      <strong><%= b.pet_name %></strong>

      <% end %>
  	</li>
  <% end %>
  </ul>
  <%= link_to 'new', new_pet_info_path, class: "button" %>
